<div class="wrap cf">
  <div class="heading cf">
    <h1>My Cart</h1>
    <a href="#" class="continue">Continue Shopping</a>
  </div>
  <div class="cart">
  <ul class="tableHead">
      <li class="prodHeader">Product</li>
      <li>Quantity</li>
      <li>Total</li>
       <li>Remove</li>
    </ul>
    <ul class="cartWrap"  *ngFor="let bookCart of cart.books" >
      <li class="items ">
        
    <div class="infoWrap"> 
        <div class="cartSection">
        <img src={{bookCart.book.photo}} alt="" class="itemImg" />
          <p class="itemNumber">#QUE-007544-002</p>
          <h3>{{bookCart.book.name}}</h3>
        
           <p> <input type="text"  class="qty" placeholder={{bookCart.cantitate}}/> x {{bookCart.book.price}}LEI</p>
        
          <p class="stockStatus"> In Stock</p>
        </div>  
    
        
        <div class="prodTotal cartSection">
          <p>{{bookCart.book.price * bookCart.cantitate}}LEI</p>
        </div>
              <div class="cartSection removeWrap">
           <a href="#" class="remove">x</a>
        </div>
      </div>
      </li>
    </ul>
  </div>
  
  <div class="promoCode"><label for="promo">Have A Promo Code?</label><input type="text" name="promo" placholder="Enter Code" />
  <a href="#" class="btn"></a></div>
  
  <div class="subtotal cf">
    <ul>
      <li class="totalRow"><span class="label">Subtotal</span><span class="value">$35.00</span></li>
      
          <li class="totalRow"><span class="label">Shipping</span><span class="value">$5.00</span></li>
      
            <li class="totalRow"><span class="label">Tax</span><span class="value">$4.00</span></li>
            <li class="totalRow final"><span class="label">Total</span><span class="value">$44.00</span></li>
      <li class="totalRow"><a href="#" class="btn continue">Checkout</a></li>
    </ul>
  </div>
</div>