<div id="wrapper">
  <br>
  <div id="content-wrapper">

    <div class="container-fluid">

      <!-- Icon Cards-->
      <div class="row">
        <div class="col-xl-3 col-sm-6 mb-3">
          <div class="card text-white bg-primary o-hidden h-100">
            <div class="card-body">
              <div class="card-body-icon">
                <i class="fas fa-fw fa-comments"></i>
              </div>
              <div class="mr-5"> Messages!</div>
            </div>
            <a class="card-footer text-white clearfix small z-1" (click)="valideMessage()">
              <span class="float-left">View Details</span>
              <span class="float-right">
                <i class="fas fa-angle-right"></i>
              </span>
            </a>
          </div>
        </div>
        <div class="col-xl-3 col-sm-6 mb-3">
          <div class="card text-white bg-warning o-hidden h-100">
            <div class="card-body">
              <div class="card-body-icon">
                <i class="fas fa-fw fa-list"></i>
              </div>
              <div class="mr-5"> Add books</div>
            </div>
            <a class="card-footer text-white clearfix small z-1" (click)="valideMessage()">
              <span class="float-left">View Details</span>
              <span class="float-right">
                <i class="fas fa-angle-right"></i>
              </span>
            </a>
          </div>
        </div>
        <div class="col-xl-3 col-sm-6 mb-3">
          <div class="card text-white bg-success o-hidden h-100">
            <div class="card-body">
              <div class="card-body-icon">
                <i class="fas fa-fw fa-shopping-cart"></i>
              </div>
              <div class="mr-5"> Orders!</div>
            </div>
            <a class="card-footer text-white clearfix small z-1" (click)="valideOrders()">
              <span class="float-left">View Details</span>
              <span class="float-right">
                <i class="fas fa-angle-right"></i>
              </span>
            </a>
          </div>
        </div>
        <div class="col-xl-3 col-sm-6 mb-3">
          <div class="card text-white bg-danger o-hidden h-100">
            <div class="card-body">
              <div class="card-body-icon">
                <i class="fas fa-fw fa-life-ring"></i>
              </div>
              <div class="mr-5">Add inventar!</div>
            </div>
            <a class="card-footer text-white clearfix small z-1" (click)="valideInventory()">
              <span class="float-left">View Details</span>
              <span class="float-right">
                <i class="fas fa-angle-right"></i>
              </span>
            </a>
          </div>
        </div>
      </div>

    
      <!-- DataTables Example -->
      <div class="card mb-3" *ngIf="ComponentSelected.messageActive">
        <div class="card-header">
          <i class="fas fa-table"></i>
          Messages</div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0" *ngIf="ComponentSelected.messageActive">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Email</th>
                  <th>Phone</th>
                  <th>Date</th>
                  <th>Message</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let message of messages" (click)="messageClick(message.id)">
                  <td [ngClass]="{bold : (message.read==false)}">{{message.name}}</td>
                  <td [ngClass]="{bold : (message.read==false)}">{{message.email}}</td>
                  <td [ngClass]="{bold : (message.read==false)}">{{message.phone}}</td>
                  <td [ngClass]="{bold : (message.read==false)}">{{message.date | date:'dd/MM/yyyy HH:mm'}}</td>
                  <td> <button  (click)="addRow(message.id)">  button </button> </td>

                
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="card-footer small text-muted" *ngIf="messageTabelActive" >Last update {{updateDate | date: ' EEEE HH:mm' }}</div>
      </div>

      <div class="card mb-3" *ngIf="ComponentSelected.orderActive">
        <div class="card-header">
          <i class="fas fa-table"></i>
          Orders</div>
        <div class="card-body">
          
            <div calss="row" >
              <div class="col-sm-3"  style="display: inline-block">
                <ul  styles="overflow:hidden; overflow-y:scroll;height:10px">
                  <li *ngFor="let sell of sales " (click)="selectUser(sell)"  >{{sell.user.firstName}} {{sell.user.lastName}}</li>
                </ul>
              </div>
              <div class="col-sm-8" style="display: inline-flex">
                  <bs-admin-sell-details [sellDetalis]="sellDetalis" ></bs-admin-sell-details>
              </div>
              <div>

              </div>
            </div>
          </div>

        <div class="card-footer small text-muted" *ngIf="messageTabelActive" >Last update {{updateDate | date: 'dd/MM/yyyy HH:mm' }} </div>
      </div>

      <div class="card mb-3" *ngIf="ComponentSelected.inventoryActive">
        <div class="card-header">
          <i class="fas fa-table"></i>
          Add inventory</div>
        <div class="card-body">
          <form [formGroup]="inventoryFormGroup" >
            <div class="row">
              <div class="form-group" class="col-sm-8 " >
              <h4>Books</h4>
                <select class="form-control" formControlName="book" >
                  <option value="" disabled selected hidden>Please Choose...</option>
                  <option value={{book.bookId}} *ngFor="let book of books">{{book.name}}</option>
                </select>
              </div>
              <div class="form-group" class="col-sm-3 " >
                <h4>Quantity: </h4>
                <input type="number" name="quantity" min="0" max="100" formControlName="quantity">
              </div>
              <div class="form-group" class="col-sm-3 " style="padding:20px" >
                  <button (click)="addInventory()"   type="button" class="btn btn-primary btn-lg btn-block login-button">Add inventory</button>
              </div>
            </div>
          </form>
        </div>

        <div class="card-footer small text-muted" *ngIf="messageTabelActive" >Last update {{updateDate | date: 'dd/MM/yyyy HH:mm' }} </div>
      </div>

    </div>
    <!-- /.container-fluid -->

  </div>
  <!-- /.content-wrapper -->

</div>
<!-- /#wrapper -->