<div id="wrapper">
  <br>
  <div id="content-wrapper">

    <div class="container-fluid">

      <!-- Icon Cards-->
      <div class="row">
        <div class="col-xl-3 col-sm-6 mb-3">
          <div class="card text-white bg-primary o-hidden h-100">
            <div class="card-body">
              <div class="card-body-icon">
                <i class="fas fa-fw fa-comments"></i>
              </div>
              <div class="mr-5">26 New Messages!</div>
            </div>
            <a class="card-footer text-white clearfix small z-1" (click)="valideMessage()">
              <span class="float-left">View Details</span>
              <span class="float-right">
                <i class="fas fa-angle-right"></i>
              </span>
            </a>
          </div>
        </div>
        <div class="col-xl-3 col-sm-6 mb-3">
          <div class="card text-white bg-warning o-hidden h-100">
            <div class="card-body">
              <div class="card-body-icon">
                <i class="fas fa-fw fa-list"></i>
              </div>
              <div class="mr-5">11 New Tasks!</div>
            </div>
            <a class="card-footer text-white clearfix small z-1" (click)="valideMessage()">
              <span class="float-left">View Details</span>
              <span class="float-right">
                <i class="fas fa-angle-right"></i>
              </span>
            </a>
          </div>
        </div>
        <div class="col-xl-3 col-sm-6 mb-3">
          <div class="card text-white bg-success o-hidden h-100">
            <div class="card-body">
              <div class="card-body-icon">
                <i class="fas fa-fw fa-shopping-cart"></i>
              </div>
              <div class="mr-5">123 New Orders!</div>
            </div>
            <a class="card-footer text-white clearfix small z-1" (click)="valideOrders()">
              <span class="float-left">View Details</span>
              <span class="float-right">
                <i class="fas fa-angle-right"></i>
              </span>
            </a>
          </div>
        </div>
        <div class="col-xl-3 col-sm-6 mb-3">
          <div class="card text-white bg-danger o-hidden h-100">
            <div class="card-body">
              <div class="card-body-icon">
                <i class="fas fa-fw fa-life-ring"></i>
              </div>
              <div class="mr-5">13 New Tickets!</div>
            </div>
            <a class="card-footer text-white clearfix small z-1" (click)="valideMessage()">
              <span class="float-left">View Details</span>
              <span class="float-right">
                <i class="fas fa-angle-right"></i>
              </span>
            </a>
          </div>
        </div>
      </div>

    
      <!-- DataTables Example -->
      <div class="card mb-3" *ngIf="messageTabelActive">
        <div class="card-header">
          <i class="fas fa-table"></i>
          Messages</div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0" *ngIf="messageTabelActive">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Email</th>
                  <th>Phone</th>
                  <th>Date</th>
                  <th>Message</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let message of messages" (click)="messageClick(message.id)">
                  <td [ngClass]="{bold : (message.read==false)}">{{message.name}}</td>
                  <td [ngClass]="{bold : (message.read==false)}">{{message.email}}</td>
                  <td [ngClass]="{bold : (message.read==false)}">{{message.phone}}</td>
                  <td [ngClass]="{bold : (message.read==false)}">{{message.date | date:'dd/MM/yyyy HH:mm'}}</td>
                  <td> <button  (click)="addRow(message.id)">  button </button> </td>

                
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="card-footer small text-muted" *ngIf="messageTabelActive" >Last update {{updateDate | date: ' EEEE HH:mm' }}</div>
      </div>

      <div class="card mb-3" *ngIf="orderTabelActive">
        <div class="card-header">
          <i class="fas fa-table"></i>
          Data Table Example</div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0" *ngIf="messageTabelActive">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Email</th>
                  <th>Phone</th>
                  <th>Date</th>
                  <th>Message</th>
                </tr>
              </thead>
              <tbody>
                
              </tbody>
            </table>
          </div>
        </div>
        <div class="card-footer small text-muted" *ngIf="messageTabelActive" >Last update {{updateDate | date: 'dd/MM/yyyy HH:mm' }} </div>
      </div>

    </div>
    <!-- /.container-fluid -->

  </div>
  <!-- /.content-wrapper -->

</div>
<!-- /#wrapper -->